@mixin mobile{
    @media screen and (max-width: 480px) {
        @content
    }
}
@mixin tablet{
    @media screen and (max-width: 768px) {
        @content
    }
}
@mixin laptop{
    @media screen and (max-width: 1200px) {
        @content
    }
}

.formContainer{
    background-color: #F16767;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formWrapper{
    background-color: white;
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    .logo{
        color:#3E54AC;
        font-weight: bold;
        font-size: 24px;
    }
    .title{
        color:#3E54AC;
        font-size: 12px;
    }
    form{
        display: flex;
        flex-direction: column;
        gap: 15px;

        input{
            padding: 15px;
            border: none;
            width: 250px;
            border-bottom: 1px #F16767;
            &::placeholder{
                color: rgb(116,166,165);
                background-color: white;
            }
        }
        button{
            background-color: #F16767;
            color: white;
            padding: 10px;
            font-weight: bold;
            border: none;
            cursor: pointer;
        }
        label{
            display: flex;
            gap:10px;
            color: #F16767;
            font-size: 15px;
            align-items: center;
            cursor: pointer;
            img{
                width:34px;
            }
        }
    }
    p{
        color: #5d5b8d;
        font-size: 12px;
        margin-top: 10px;
        
    }
}